.glyphicon-bullhorn{
	color: #2e6da4;
}
.glyphicon-education{
    color: #2e6da4;
}
.glyphicon-bell{
    color: #2e6da4;
}
.glyphicon-tree-deciduous{
    color: #2e6da4;
}
.glyphicon-flag{
    color: #2e6da4;
}